fastapi
uvicorn[standard]
pydantic
pdfplumber
pytesseract
pdf2image
qdrant-client
rank-bm25
rapidfuzz
numpy
nltk
httpx
python-dotenv
ragas==0.1.21
datasets
langchain-community==0.2.19
langchain-openai==0.1.25
